@media screen and (max-width: 768px) {

    .container {
        width: 100%;
     }
}
@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        margin: 40px;
    }
    p.text{
        padding-bottom: 40px;
    }
    .lessons .col {
        width: 100%;
        text-align: center;
    }
    .steps .col {
        width: 100%;
    }
    .why-us .col-left , .why-us .col-right{
        width: 100%;
    }
    section.why-us{
        background-color: black;
    }
    .why-us {
        margin-bottom: -3rem;
    }
    .steps{
        margin: 0;
    }
    h2.text-center{
        padding: 40px;
    }
    .container{
        padding-bottom: 10px;
    }
}
